@media (min-width: 1700px) {
    .journey .class-model-4 {
        left: 324px;
    }

    .journey .class-model-6 {
        top: 1050px;
        right: 530px;
    }

    .journey .class-model-7 {
        bottom: 320px;
    }

    .journey .class-model-8 {
        bottom: 70px;
        right: 503px;
    }

    .lessons-banner {
        height: 864px;
    }

    .lessons-details-list .list-item a {
        margin-top: 12px;
    }

    .lessons-list .list-item:first-child, 
    .lessons-list .list-item:last-child {
        padding: 90px 0;
    }
}

@media (min-width: 1400px) and (max-width: 1699.98px) {
    .journey .class-model-4 {
        left: 324px;
    }

    .journey .class-model-6 {
        top: 1050px;
        right: 530px;
    }

    .journey .class-model-7 {
        bottom: 320px;
    }

    .journey .class-model-8 {
        bottom: 70px;
        right: 503px;
    }

    .lessons-banner {
        height: 700px;
    }

    .lessons-details-list .list-item a {
        margin-top: 8px;
    }

    .lessons-list .list-item:first-child, 
    .lessons-list .list-item:last-child {
        padding: 80px 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .journey .class-model-6 {
        top: 980px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    :root {
        --h1: 30px;
        --h2: 27px;
        --h3: 25px;
        --h4: 22px;
        --h5: 19px;
        --h6: 17px;
        --lg: 17px;
        --bs: 16px;
        --sm: 14px;
    }

    body main {
        margin-top: 120px;
    }

    .main-header .header-logo {
        width: 140px;
    }

    .main-header.shrink-header .header-logo {
        width: 120px;
    }

    .slider-content {
        height: 650px;
    }

    .journey .class-model-1 img {
        width: 150px;
    }

    .journey .class-model-1 {
        left: 100px;
        top: 86px;
    }

    .journey p.bold {
        font-size: 18px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 140px;
    }

    .journey .class-model-2 {
        top: 150px;
        right: 285px;
    }

    .journey .class-model-3 {
        top: 338px;
        right: 60px;
    }

    .journey .class-model-4 {
        top: 425px;
        left: 240px;
    }

    .journey .class-model-5 {
        top: 570px;
        right: 240px;
    }

    .journey .class-model-6 {
        top: 844px;
        right: 410px;
    }

    .journey .class-model-7 {
        bottom: 282px;
        left: 125px;
    }

    .journey .class-model-8 {
        bottom: 44px;
        right: 390px;
    }
    
    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 60%;
    }

    .lessons-banner {
        height: 570px;
    }

    .lessons-details-list .list-item a {
        margin-top: 8px;
    }

    .main-footer .footer-logo {
        width: 130px;
    }
}

@media (max-width: 1199.98px) {
    .text-lg {
        font-size: var(--lg);
    }

    .slider .prev, .slider .next {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    :root {
        --h1: 28px;
        --h2: 25px;
        --h3: 23px;
        --h4: 21px;
        --h5: 18px;
        --h6: 16px;
        --lg: 16px;
        --bs: 15px;
        --sm: 13px;
    }

    body main {
        margin-top: 120px;
    }

    .main-header .bg {
        padding-bottom: 2px;
    }

    .main-header .wavy-line {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
    }

    .main-header .header-logo {
        width: 120px;
    }

    .main-header.shrink-header .header-logo {
        width: 100px;
    }

    .slider-content {
        height: 510px;
    }

    .journey .class-model-1 img {
        width: 130px;
    }

    .journey .class-model-1 {
        left: 0;
        top: 100px;
    }

    .journey p.bold {
        font-size: 16px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 120px;
    }

    .journey .class-model-2 {
        top: 150px;
        right: 200px;
    }

    .journey .class-model-3 {
        top: 310px;
        right: 0;
    }

    .journey .class-model-4 {
        top: 425px;
        left: 150px;
    }

    .journey .class-model-5 {
        top: 540px;
        right: 150px;
    }

    .journey .class-model-6 {
        top: 780px;
        right: 300px;
    }

    .journey .class-model-7 {
        bottom: 260px;
        left: 40px;
    }

    .journey .class-model-8 {
        bottom: 44px;
        right: 270px;
    }

    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 60%;
    }

    .lessons-list .list-item:first-child, 
    .lessons-list .list-item:last-child {
        padding: 44px 0;
        margin-bottom: 0;
    }

    .section-1, .section-3, .section-5 {
        padding: 60px 0;
    }

    .section-2 .container img {
        width: 100px !important;
    }

    .section-4 .container img {
        width: 160px;
    }

    .lessons-banner {
        height: 420px;
    }

    .lessons-list .list-item a {
        margin-top: 8px;
    }

    .lessons-details-list .list-item a {
        margin-top: 8px;
    }

    .main-footer .footer-logo {
        width: 110px;
    }

    .contact-banner {
        height: 420px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    :root {
        --h1: 26px;
        --h2: 23px;
        --h3: 21px;
        --h4: 19px;
        --h5: 17px;
        --h6: 15px;
        --lg: 15px;
        --bs: 15px;
        --sm: 13px;
    }

    body main {
        margin-top: 120px;
    }

    .main-header .bg {
        padding-bottom: 6px;
    }

    .main-header .wavy-line {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
}

    .main-header .header-logo {
        width: 110px;
    }

    .main-header.shrink-header .header-logo {
        width: 100px;
    }

    .slider-content {
        height: 360px;
    }

    .journey .class-model-1 img {
        width: 110px;
    }

    .journey .class-model-1 {
        left: 0;
        top: 110px;
    }

    .journey p.bold {
        font-size: 16px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 100px;
    }

    .journey .class-model-2 {
        top: 150px;
        right: 120px;
    }

    .journey .class-model-3 {
        top: 290px;
        right: 0;
    }

    .journey .class-model-4 {
        top: 350px;
        left: 80px;
    }

    .journey .class-model-5 {
        top: 420px;
        right: 120px;
    }

    .journey .class-model-6 {
        top: 650px;
        right: 180px;
    }

    .journey .class-model-7 {
        bottom: 180px;
        left: 40px;
    }

    .journey .class-model-8 {
        bottom: 44px;
        right: 180px;
    }

    .section-2 .container img {
        width: 100px !important;
    }

    .section-4 .container img {
        width: 160px;
    }

    .lessons-banner {
        height: 360px;
    }

    .lessons-list .list-item a {
        width: 140px;
        padding: 6px 0;
        font-size: var(--bs);
    }

    .lessons-details-list .list-item a {
        margin-top: 8px;
    }

    .main-footer .footer-logo {
        width: 100px;
    }

    .main-footer .footer-award {
        width: 90px;
    }

    .contact-banner {
        height: 300px;
    }

    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 55%;
    }

    .contact-options {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    .contact-form h2 {
        font-size: var(--h3);
        margin-top: 16px;
    }

    .lessons-banner-content h1 {
        font-size: var(--h3);
    }

    .lessons-banner-content p.mt-3 {
        margin-top: 8px !important;
    }

    .lessons-list .list-item {
        padding: 40px 0;
    }

    .lessons-list .list-item:first-child, 
    .lessons-list .list-item:last-child {
        padding: 40px 0;
        margin-bottom: 0;
    }
}

@media(max-width: 767.98px) {
    .contact-form .w-50 {
        width: 100% !important;
    }

    .award .client-logo img {
        width: 40%;
    }

    .contact-banner-content h2 {
        font-size: var(--h3);
    }

    .contact-banner-content h2 br {
        display: none;
    }

    .lessons-details-list .list-item .small-turtle {
        top: 0px;
    }

    .lessons-list .list-item a {
        margin-top: 8px;
    }

    .section-1, .section-3, .section-5 {
        padding: 60px 0;
    }

    .home-slider .slick-dots li button {
        height: 10px;
        width: 10px;
    }

    .btt img {
        width: 40px;
    }
}

@media(max-width: 575.98px) {
    :root {
        --h1: 24px;
        --h2: 20px;
        --h3: 19px;
        --h4: 17px;
        --h5: 16px;
        --h6: 14px;
        --lg: 14px;
        --bs: 14px;
        --sm: 12px;
    }

    body main {
        margin-top: 100px;
    }

    .main-header .bg {
        padding-bottom: 8px;
    }

    .main-header .wavy-line {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
}

    .main-header .offcanvas {
        width: 100%;
    }

    .sidebar ul li a {
        font-size: 18px;
    }

    .main-header .nav-items.gap-3 {
        gap: 8px !important;
    }

    .main-header .header-logo {
        width: 90px;
    }

    .main-header.shrink-header .header-logo {
        width: 80px;
    }

    .slider-content {
        height: 280px;
    }

    .slider-content .overlay h2 {
        font-weight: 400;
    }

    .journey .class-model-1 img {
        width: 70px;
    }

    .journey .class-model-1 {
        left: 8px;
        top: 100px;
    }

    .journey p.bold {
        font-size: 14px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 60px;
    }

    .journey .class-model-2 {
        top: 120px;
        right: 50px;
    }

    .journey .class-model-3 {
        top: 240px;
        right: 8px;
    }

    .journey .class-model-4 {
        top: 300px;
        left: 90px;
    }

    .journey .class-model-5 {
        top: 360px;
        right: 90px;
    }

    .journey .class-model-6 {
        top: 560px;
        right: 180px;
    }

    .journey .class-model-7 {
        bottom: 160px;
        left: 20px;
    }

    .journey .class-model-8 {
        bottom: 20px;
        right: 150px;
    }

    .section-2 img {
        width: 100px !important;
    }

    .section-4 .container img {
        width: 160px;
    }

    .lessons-banner {
        height: 250px;
    }

    .lessons-list .list-item a {
        width: 140px;
        padding: 6px 0;
        font-size: var(--bs);
    }

    .lessons-details-list .list-item a {
        margin-top: 8px;
    }

    .main-footer .footer-logo {
        width: 90px;
    }

    .main-footer .footer-award {
        width: 80px;
    }

    .contact-banner {
        height: 240px;
    }

    .journey h2 {
        margin-bottom: 4px;
    }

    .lessons-details-list .list-item .small-turtle img {
        width: 40px;
    }

    .lessons-details-list .list-item .small-turtle {
        top: 0px;
        right: 8px;
    }

    .calendar td.px-5 {
        padding-left:  10px !important;
        padding-right:  10px !important;
    }

    .contact-banner-content h2,
    .contact-form h2 {
        font-weight: 400;
        font-size: var(--h3);
    }

    .lessons-banner-content h1 {
        font-size: var(--h3);
        font-weight: 400;
    }

    .main-header .nav-items a {
        font-size: var(--bs);
        letter-spacing: 0;
    }

    nav.d-flex.gap-4 {
        gap: 10px !important;
    }

    .sidebar .solid-bar {
        font-size: 22px;
    }

    .main-header.shrink-header .sidebar .solid-bar {
        font-size: 20px;
    }

    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 50%;
    }

    .contact-options {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    .contact-form h2 {
        font-size: var(--h3);
        margin-top: 16px;
    }

    .lessons-banner-content h1 {
        font-size: var(--h3);
    }

    .lessons-banner-content p.mt-3 {
        margin-top: 8px !important;
    }

    .lessons-list .list-item:first-child, 
    .lessons-list .list-item:last-child {
        padding: 40px 0;
        margin-bottom: 0;
    }
}

@media(max-width: 465.98px) {
    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 35%;
    }

    .journey .dot-line {
        margin-top: 40px;
    }

    .journey .class-model-1 img {
        width: 60px;
    }

    .journey .class-model-1 {
        left: 8px;
        top: 60px;
    }

    .journey .mb-2 {
        margin-bottom: 4px !important;
    }

    .journey p.bold,
    .journey p {
        font-size: 12px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 50px;
    }

    .journey .class-model-2 {
        top: 90px;
        right: 50px;
    }

    .journey .class-model-3 {
        top: 180px;
        right: 8px;
    }

    .journey .class-model-4 {
        top: 220px;
        left: 90px;
    }

    .journey .class-model-5 {
        top: 280px;
        right: 50px;
    }

    .journey .class-model-6 {
        top: 460px;
        right: 130px;
    }

    .journey .class-model-7 {
        bottom: 150px;
        left: 20px;
    }

    .journey .class-model-8 {
        bottom: 30px;
        right: 130px;
    }
}

@media(max-width: 400.98px) {
    .watermark-top-left img,
    .watermark-top-right img,
    .watermark-left-middle img,
    .watermark-right-middle img,
    .watermark-bottom-left img,
    .watermark-bottom-right img {
        width: 35%;
    }

    .journey h2 {
        font-size: var(--h4);
    }

    .journey .dot-line {
        margin-top: 40px;
    }

    .journey .class-model-1 img {
        width: 60px;
    }

    .journey .class-model-1 {
        left: 8px;
        top: 50px;
    }

    .journey .mb-2 {
        margin-bottom: 4px !important;
    }

    .journey p.bold,
    .journey p {
        font-size: 11px;
    }

    .journey .class-model-2 img, .journey .class-model-3 img, .journey .class-model-4 img, .journey .class-model-5 img, .journey .class-model-6 img, .journey .class-model-7 img, .journey .class-model-8 img {
        width: 50px;
    }

    .journey .class-model-2 {
        top: 70px;
        right: 50px;
    }

    .journey .class-model-3 {
        top: 160px;
        right: 8px;
    }

    .journey .class-model-4 {
        top: 200px;
        left: 70px;
    }

    .journey .class-model-5 {
        top: 260px;
        right: 60px;
    }

    .journey .class-model-6 {
        top: 390px;
        right: 130px;
    }

    .journey .class-model-7 {
        bottom: 120px;
        left: 20px;
    }

    .journey .class-model-8 {
        bottom: 40px;
        right: 100px;
    }
}