@charset "UTF-8";

/**
    Author: Rifat Bhiuya
    Author email: hello.rifatbhuiya@gmail.com
    Version: 0.0.0.1
*/

/**
----------------
Table Of Content
----------------
0. Common CSS Start
1. Header CSS Start
2. Home Slider CSS Start
3. Home Welcome CSS Start
4. Home Journey CSS Start
5. BTT CSS Start
6. Footer CSS Start
7. About Approach CSS Start
8. About Sections CSS Start
9. Lessons Banner CSS Start
10. Lessons List CSS Start
11. Lessons Details List CSS Start
12. Prices CSS Start
13. Calendar CSS Start
14. Award CSS Start
15. Contact CSS Start
*/

:root { 
    /* Colors */
    --primary_color: #009cc4;
    --primary_thin: #85cee4;
    --primary_bold: #00556b;
    --lime_color: #bde4b3;
    --green_color: #00a86b;
    --light_yellow: #fec634;
    --orange_color: #ef8619;
    --crimson_color: #d14e61;
    --white_color: #ffffff; 
    --black_color: #000000;

    /* Round */
    --round_sm: 5px;
    --round_md: 10px;
    --round_lg: 25px;
    --round_full: 50%;

    /* Typography */
    --h1: 32px;
    --h2: 29px;
    --h3: 26px;
    --h4: 23px;
    --h5: 20px;
    --h6: 18px;
    --lg: 18px;
    --bs: 16px;
    --sm: 14px;

    /* Duration */
    --transition: all ease-in-out .5s;

    /* Font Family */
    --sans_serif: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address,
blockquote {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

body {
    font-size: var(--bs);
    scroll-behavior: smooth;
    font-family: var(--sans_serif);
    font-weight: 400;
}

.btn-white {
    padding: 8px 24px;
    color: var(--white_color);
    border: 1px solid var(--white_color);
    border-radius: var(--round_sm);
    -webkit-border-radius: var(--round_sm);
    -moz-border-radius: var(--round_sm);
    -ms-border-radius: var(--round_sm);
    -o-border-radius: var(--round_sm);
    font-weight: 500;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.btn-white:hover {
    color: var(--primary_color);
    background-color: var(--white_color);
}

.btn-blue {
    padding: 8px 24px;
    color: var(--primary_color);
    border: 1px solid var(--primary_color);
    border-radius: var(--round_sm);
    -webkit-border-radius: var(--round_sm);
    -moz-border-radius: var(--round_sm);
    -ms-border-radius: var(--round_sm);
    -o-border-radius: var(--round_sm);
    font-weight: 500;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.btn-blue:hover {
    color: var(--white_color);
    background-color: var(--primary_color);
}
/* Common CSS End */

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--white_color);
    padding-bottom: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header.shrink-header {
    padding-bottom: 2px;
}

.main-header .header-logo {
    width: 160px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header.shrink-header .header-logo {
    width: 140px;
}

.top-buttons {
    position: absolute;
    top: 0;
    right: 24px;
}

.top-buttons li a {
    padding: 4px 16px 6px;
    line-height: 1.1;
    font-weight: var(--sm);
    color: var(--white_color);
    border-bottom-left-radius: var(--round_md);
    border-bottom-right-radius: var(--round_md);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.top-buttons li a:hover {
    opacity: .7;
}

.top-buttons li:first-child a {
    background-color: var(--primary_thin);
}

.top-buttons li:last-child a {
    background-color: var(--primary_color);
}

.main-header .nav-items a {
    color: var(--primary_color);
    font-weight: 500;
    font-size: var(--lg);
    letter-spacing: 1px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header .nav-items a:hover,
.main-header .nav-items a.active {
    color: var(--primary_thin);
}

.sidebar .solid-bar {
    background-color: transparent;
    border: none;
    color: var(--primary_color);
    font-size: 24px;
    height: 40px;
    width: 40px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.sidebar .solid-bar:hover {
    opacity: .7;
}

.sidebar .close-sidebar {
    background-color: transparent;
    color: var(--white_color);
    border: none;
    font-size: 24px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: var(--white_color);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.sidebar ul li > ul li {
    margin-bottom: 0;
    margin-top: 8px;
}

.sidebar ul li > ul li img {
    width: 22px;
    opacity: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.sidebar ul li > ul li:hover img {
    opacity: 1;
}

.sidebar ul li > ul li a {
    padding-left: 12px;
    font-weight: 400;
    font-size: var(--bs);
    letter-spacing: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.sidebar ul li > ul li:hover a {
    font-weight: 500;
}

.sidebar .close-sidebar:hover {
    opacity: .7;
}

.sidebar .offcanvas {
    color: var(--white_color);
    background-color: var(--primary_color);
}

.main-header .wavy-line {
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.main-header.shrink-header .wavy-line {
    position: absolute;
    bottom: -42px;
    left: 0;
}
/* Header CSS End */

.slider .prev,
.slider .next {
    position: absolute;
    top: 860px;
    z-index: 11;
    cursor: pointer;
    opacity: .7;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.slider .prev:hover,
.slider .next:hover {
    opacity: 1;
}

.slider .prev {
    left: 20px;
}

.slider .next {
    right: 20px;
}

.slider .left-turtle {
    width: 40px;
    height: 32px;
    transform: translate(-24px, 10px);
    -webkit-transform: translate(-24px, 10px);
    -moz-transform: translate(-24px, 10px);
    -ms-transform: translate(-24px, 10px);
    -o-transform: translate(-24px, 10px);
}

.slider .left-arrow {
    width: 28px;
}

.slider .right-turtle {
    width: 40px;
    height: 32px;
    transform: translate(24px, 10px);
    -webkit-transform: translate(24px, 10px);
    -moz-transform: translate(24px, 10px);
    -ms-transform: translate(24px, 10px);
    -o-transform: translate(24px, 10px);
}

.slider .right-arrow {
    width: 28px;
}

.slider-content {
    height: 800px;
    position: relative;
    margin-bottom: 60px;
}

.slider-content .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 60px 0;
    background: url(../images/home/slider/overlay.png) no-repeat center / cover;
    width: 100%;
}

.slider-content .overlay h2 {
    font-size: var(--h3);
    font-weight: 500;
    color: var(--primary_bold);
}

.home-slider .slick-dots {
    text-align: center;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.home-slider .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.home-slider .slick-dots li button {
    color: transparent;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: var(--round_full);
    -webkit-border-radius: var(--round_full);
    -moz-border-radius: var(--round_full);
    -ms-border-radius: var(--round_full);
    -o-border-radius: var(--round_full);
}

.home-slider .slick-dots li:nth-child(1) button,
.home-slider .slick-dots li:nth-child(8) button {
    background-color: #009cc4;
}

.home-slider .slick-dots li:nth-child(2) button,
.home-slider .slick-dots li:nth-child(9) button {
    background-color: var(--green_color);
}

.home-slider .slick-dots li:nth-child(3) button,
.home-slider .slick-dots li:nth-child(10) button {
    background-color: #00b4bd;
}

.home-slider .slick-dots li:nth-child(4) button,
.home-slider .slick-dots li:nth-child(11) button {
    background-color: #145b9b;
}

.home-slider .slick-dots li:nth-child(5) button,
.home-slider .slick-dots li:nth-child(12) button {
    background-color: var(--light_yellow);
}

.home-slider .slick-dots li:nth-child(6) button,
.home-slider .slick-dots li:nth-child(13) button {
    background-color: var(--orange_color);
}

.home-slider .slick-dots li:nth-child(7) button,
.home-slider .slick-dots li:nth-child(14) button {
    background-color: var(--crimson_color);
}
/* Home Slider CSS End */

.welcome {
    height: 520px;
    color: var(--white_color);
    background: url(../images/home/welcome_bg.png) no-repeat center / cover;
}

.welcome p {
    font-size: var(--lg);
    font-weight: 300;
}
/* Home Welcome CSS End */

.journey {
    padding: 40px 0;
}

.journey h2 {
    color: var(--primary_color);
    margin-bottom: 40px;
}

.journey .dot-line {
    margin-top: 100px;
}

.journey .class-model-1 {
    left: 120px;
}

.journey .class-model-1 img {
    width: 190px;
}

.journey p {
    font-size: var(--bs);
}

.journey p.bold {
    font-weight: 500;
    font-size: 22px;
}

.journey .class-model-1 p {
    color: var(--primary_color);
}

.journey .class-model-2 {
    top: 150px;
    right: 350px;
}

.journey .class-model-2 img, 
.journey .class-model-3 img, 
.journey .class-model-4 img, 
.journey .class-model-5 img, 
.journey .class-model-6 img, 
.journey .class-model-7 img, 
.journey .class-model-8 img {
    width: 160px;
}

.journey .class-model-2 p {
    color: var(--lime_color);
}

.journey .class-model-3 {
    top: 380px;
    right: 100px;
}

.journey .class-model-3 p {
    color: var(--green_color);
}

.journey .class-model-4 {
    top: 500px;
    left: 300px;
}

.journey .class-model-4 p {
    color: var(--primary_color);
}

.journey .class-model-5 {
    top: 680px;
    right: 300px;
}

.journey .class-model-5 p {
    color: #145b9b;
}

.journey .class-model-6 {
    top: 950px;
    right: 500px;
}

.journey .class-model-6 p {
    color: var(--light_yellow);
}

.journey .class-model-7 {
    bottom: 280px;
    left: 200px;
}

.journey .class-model-7 p {
    color: var(--orange_color);
}

.journey .class-model-8 {
    bottom: 30px;
    right: 480px;
}

.journey .class-model-8 p {
    color: var(--crimson_color);
}

.journey .watermark-top-left {
    top: 0;
    left: 0;
    z-index: -1;
}

.journey .watermark-top-right {
    top: -300px;
    right: 0;
    z-index: -1;
}

.journey .watermark-top-left img,
.journey .watermark-top-right img,
.journey .watermark-bottom-left img,
.journey .watermark-bottom-right img {
    width: 70%;
}

.journey .watermark-bottom-left {
    bottom: -80px;
    left: 0;
    z-index: -1;
}

.journey .watermark-bottom-right {
    bottom: 280px;
    right: 0;
    z-index: -1;
}
/* Home Journey CSS End */

.btt {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 50;
}

.btt img {
    cursor: pointer;
}
/* BTT CSS End */

.main-footer {
    padding: 40px 0 100px;
    background: url(../images/footer_bg.png) no-repeat top / cover;
}

.main-footer h6 {
    color: var(--white_color);
    font-weight: 700;
}

.main-footer .contact-details a {
    color: var(--white_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-footer .contact-details a:hover {
    text-decoration: underline;
    opacity: .8;
}

.main-footer .contact-details li:first-child {
    font-weight: 300;
} 

.main-footer .contact-details li:last-child {
    font-weight: 500;
    margin-top: 2px;
} 

.main-footer ul.nav-items li {
    display: inline-block;
    width: 49%;
}

.main-footer ul.nav-items li a {
    color: var(--white_color);
    font-weight: 300;
    margin-top: 2px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-footer ul.nav-items li a:hover {
    text-decoration: underline;
    opacity: .8;
}

.main-footer .footer-logo {
    width: 160px;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 40px 0 20px;
    color: var(--primary_color);
    background: url(../images/copyright_bg.png) no-repeat top / cover;
}

.copyright p a {
    color: var(--primary_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.copyright p a:hover {
    text-decoration: underline;
}
/* Footer CSS End */

.our-approach {
    height: 520px;
    color: var(--white_color);
    background: url(../images/about/about_bg.png) no-repeat center / cover;
}

.our-approach p {
    font-weight: 300;
}
/* About Approach CSS End */

.text-lg {
    font-size: 20px;
}

.section-1,
.section-3,
.section-5 {
    padding: 80px 0;
    color: var(--primary_bold);
}

.section-1 h2,
.section-2 h2,
.section-3 h2, 
.section-4 h2,
.section-5 h2 {
    letter-spacing: 2px;
}

.section-1 p {
    font-weight: 300;
}

.section-1 .how-we h2 {
    color: var(--green_color);
}

.section-1 .watermark-top-right {
    top: -40px;
    right: 20px;
    z-index: -1;
}

.section-1 .watermark-top-right img,
.section-1 .watermark-bottom-left img,
.section-1 .watermark-bottom-right img,
.section-3 .watermark-top-left img,
.section-3 .watermark-bottom-left img,
.section-3 .watermark-right-middle img,
.section-5 .watermark-top-middle img,
.section-5 .watermark-bottom-right img {
    width: 80%;
}

.section-1 .watermark-bottom-left {
    bottom: 80px;
    left: 0;
    z-index: -1;
}

.section-1 .watermark-bottom-right {
    bottom: -150px;
    right: 0;
    z-index: -1;
}

.section-2 {
    height: 600px;
    color: var(--white_color);
    background: url(../images/about/section_2/bg.png) no-repeat center / cover;
}

.section-2 h2 span {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.section-2 p {
    font-weight: 300;
}

.section-3 .child-led h2 {
    color: var(--orange_color);
}

.section-3 .text-lg,
.section-4 .text-lg,
.section-5 .text-lg  {
    font-weight: 300;
}

.section-3 .empowering h2 {
    color: var(--crimson_color);
}

.section-3 .watermark-top-left {
    top: -200px;
    left: 0;
    z-index: -1;
}

.section-3 .watermark-bottom-left {
    bottom: -200px;
    left: 0;
    z-index: -1;
}

.section-3 .watermark-right-middle {
    top: 50%;
    right: 0;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.section-4 {
    height: 440px;
    color: var(--primary_bold);
    background: url(../images/about/section_4/bg.png) no-repeat center / cover;
}

.section-5 .watermark-top-middle {
    top: -350px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.section-5 .watermark-bottom-right {
    bottom: -200px;
    right: 0;
    z-index: -1;
}
/* About Sections CSS End */

.lessons-banner {
    height: 600px;
    background: url(../images/lessons/banner.png) no-repeat center / cover;
}

.lessons-banner-content {
    height: 250px;
    color: var(--white_color);
    background: url(../images/lessons/wave_1.png) no-repeat center / cover;
    transform: translateY(-38px);
    -webkit-transform: translateY(-38px);
    -moz-transform: translateY(-38px);
    -ms-transform: translateY(-38px);
    -o-transform: translateY(-38px);
}

.lessons-banner-content p {
    font-weight: 300;
    font-size: var(--lg);
}
/* Lessons Banner CSS End */

.lessons-list .list-item h2 {
    letter-spacing: 2px;
}

.lessons-list .list-item:first-child, 
.lessons-list .list-item:last-child {
    height: 200px;
    margin-bottom: 40px;
    color: var(--primary_color);
}

.lessons-list .list-item:last-child h2 {
    color: var(--orange_color);
}

.lessons-list .list-item:nth-child(2) {
    color: var(--white_color);
    background: url(../images/lessons/wave_2.png) no-repeat center / cover;
}

.lessons-list .list-item:nth-child(3) {
    color: var(--primary_bold);
    background: url(../images/lessons/wave_3.png) no-repeat center / cover;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.lessons-list .list-item {
    height: 280px;
}

.lessons-list .list-item p {
    font-weight: 400;
    font-size: var(--lg);
}

.lessons-list .list-item a {
    width: 150px;
    padding: 8px 0;
    justify-content: center;
}

.lessons-list .list-item:nth-child(3) a {
    color: var(--primary_bold);
    border-color: var(--primary_bold);
}

.lessons-list .list-item:nth-child(3) a:hover {
    background-color: var(--primary_bold);
    color: var(--white_color);
}

.lessons-list .list-item:last-child a {
    color: var(--orange_color);
    border-color: var(--orange_color);
}

.lessons-list .list-item:last-child a:hover {
    background-color: var(--orange_color);
    color: var(--white_color);
}

.lessons-list .list-item a i {
    font-size: var(--sm);
}
/* Lessons List CSS End */

.lessons-details-list .list-item {
    margin-bottom: 60px;
}

.lessons-details-list .list-item {
    margin-top: 20px;
}
.lessons-details-list .list-item h2 {
    letter-spacing: 2px;
} 

.lessons-details-list .list-item h2 span {
    font-size: var(--h5);
    font-weight: 300;
    letter-spacing: 0;
} 

.lessons-details-list .list-item p {
    color: var(--primary_color);
}

.lessons-details-list .list-item .small-turtle {
    top: 24px;
    right: 0;
}

.lessons-details-list .list-item .small-turtle img {
    width: 50px;
}

.lessons-details-list .list-item:first-child h2 {
    color: var(--lime_color);
}

.lessons-details-list .list-item:nth-child(2) h2 {
    color: var(--green_color);
}

.lessons-details-list .list-item:nth-child(3) h2 {
    color: var(--primary_color);
}

.lessons-details-list .list-item:nth-child(4) h2 {
    color: var(--primary_bold);
}

.lessons-details-list .list-item:nth-child(5) h2 {
    color: var(--light_yellow);
}

.lessons-details-list .list-item:nth-child(6) h2 {
    color: var(--orange_color);
}

.lessons-details-list .list-item:nth-child(7) h2 {
    color: var(--crimson_color);
}

.lessons-details-list .list-item:first-child a {
    color: var(--lime_color);
    border-color: var(--lime_color);
}

.lessons-details-list .list-item:first-child a:hover {
    background-color: var(--lime_color);
    color: var(--white_color);
}

.lessons-details-list .list-item:nth-child(2) a {
    color: var(--green_color);
    border-color: var(--green_color);
}

.lessons-details-list .list-item:nth-child(2) a:hover {
    background-color: var(--green_color);
    color: var(--white_color);
}

.lessons-details-list .list-item:nth-child(4) a {
    color: var(--primary_bold);
    border-color: var(--primary_bold);
}

.lessons-details-list .list-item:nth-child(4) a:hover {
    background-color: var(--primary_bold);
    color: var(--white_color);
}

.lessons-details-list .list-item:nth-child(5) a {
    color: var(--light_yellow);
    border-color: var(--light_yellow);
}

.lessons-details-list .list-item:nth-child(5) a:hover {
    background-color: var(--light_yellow);
    color: var(--white_color);
}

.lessons-details-list .list-item:nth-child(6) a {
    color: var(--orange_color);
    border-color: var(--orange_color);
}

.lessons-details-list .list-item:nth-child(6) a:hover {
    background-color: var(--orange_color);
    color: var(--white_color);
}

.lessons-details-list .list-item:nth-child(7) a {
    color: var(--crimson_color);
    border-color: var(--crimson_color);
}

.lessons-details-list .list-item:nth-child(7) a:hover {
    background-color: var(--crimson_color);
    color: var(--white_color);
}
/* Lessons Details List CSS End */

.prices {
    color: var(--primary_color);
    padding-top: 20px;
    padding-bottom: 60px;
}

.prices h2 {
    letter-spacing: 2px;
}


.prices p.text-lg {
    font-weight: 400;
}

.prices .turtle {
    width: 50px;
}

.prices table th,
.prices table td {
    padding-bottom: 10px;
    font-weight: 500;
}

.prices table th {
    color: var(--primary_bold);
}

.prices table tbody tr:nth-child(2) td {
    color: var(--primary_thin);
}

.prices table tbody tr:nth-child(3) td {
    color: var(--orange_color);
}

.prices table tbody tr:nth-child(4) td {
    color: var(--light_yellow);
}

.prices table tbody tr:nth-child(5) td {
    color: var(--crimson_color);
}

.prices .watermark-top-right img,
prices .watermark-bottom-left img {
    width: 70%;
}

.prices .watermark-top-right {
    top: -150px;
    right: 0;
    z-index: -1;
}

.prices .watermark-bottom-left {
    bottom: -200px;
    left: 0;
    z-index: -1;
}
/* Prices CSS End */

.calendar {
    padding-top: 20px;
    padding-bottom: 60px;
    color: var(--primary_bold);
}

.calendar h2 {
    letter-spacing: 2px;
}

.calendar table th,
.calendar table td {
    padding-bottom: 10px;
}

.calendar table tr:nth-child(even) {
    color: var(--primary_color);
}

.calendar .table-2 tr:nth-child(odd) {
    color: var(--light_yellow);
}

.calendar .table-3 tr:nth-child(odd) {
    color: var(--crimson_color);
}

.calendar p.text-lg {
    font-weight: 400;
}

.calendar .watermark-top-right img,
.calendar .watermark-left-middle img,
.calendar .watermark-bottom-right img {
    width: 70%;
}

.calendar .watermark-top-right {
    top: -150px;
    right: 0;
    z-index: -1;
}

.calendar .watermark-left-middle {
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.calendar .watermark-bottom-right {
    bottom: -100px;
    right: 0;
    z-index: -1;
}
/* Calendar CSS End */

.award {
    color: var(--primary_color);
    padding-top: 20px;
    padding-bottom: 60px;
}

.award h2 {
    letter-spacing: 2px;
    color: var(--orange_color);
}


.award p.text-lg {
    font-weight: 300;
    color: var(--primary_bold);
}

.award .turtle {
    width: 50px;
}

.award .client-logo img {
    width: 80%;
}

.award table th,
.award table td {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: var(--lg);
}

.award table tr:nth-child(1) th {
    color: var(--primary_bold);
}

.award table tr:nth-child(1) td,
.award table tr:nth-child(1) td a {
    color: var(--lime_color);
}

.award table tr:nth-child(2) td,
.award table tr:nth-child(2) td a {
    color: var(--green_color);
}

.award table tr:nth-child(3) td,
.award table tr:nth-child(3) td a {
    color: var(--primary_color);
}

.award table tr:nth-child(4) td,
.award table tr:nth-child(4) td a {
    color: var(--primary_bold);
}

.award table tr:nth-child(5) td,
.award table tr:nth-child(5) td a {
    color: var(--light_yellow);
}

.award table tr:nth-child(6) td,
.award table tr:nth-child(6) td a {
    color: var(--orange_color);
}

.award table tr:nth-child(7) td,
.award table tr:nth-child(7) td a {
    color: var(--crimson_color);
}

.award table a {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.award table a:hover {
    text-decoration: underline;
}

.award .watermark-top-right img,
.award .watermark-bottom-left img {
    width: 70%;
}

.award .watermark-top-right {
    top: -150px;
    right: 0;
    z-index: -1;
}

.award .watermark-bottom-left {
    bottom: -150px;
    left: 0;
    z-index: -1;
}
/* Award CSS End */

.contact-banner {
    height: 600px;
    background: url(../images/contact/banner.png) no-repeat center / cover;
}

.contact-banner-content {
    height: 222px;
    color: var(--white_color);
    background: url(../images/contact/wave-1.png) no-repeat center / cover;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}

.contact-banner-content h2 {
    font-weight: 400;
    color: var(--primary_bold);
}

.contact-options {
    height: 480px;
    color: var(--white_color);
    background: url(../images/contact/wave-2.png) no-repeat center / cover;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
}

.contact-options h1 {
    font-size: var(--h2);
}

.contact-options p {
    font-size: var(--lg);
}

.contact-form {
    padding-bottom: 60px;
}

.contact-form h2 {
    font-size: var(--h1);
    color: var(--primary_color);
}

.contact-form .form-control {
    border: var(--bs-border-width) solid var(--primary_color);
}

.contact-form .form-control::placeholder {
    color: var(--primary_color);
    text-transform: capitalize;
    font-weight: 500;
}

.contact-form .form-label,
.contact-form .form-check-label {
    color: var(--primary_color);
    font-weight: 500;
}

.contact-form .form-label span {
    font-weight: 400;
}

.contact-form .form-select {
    --bs-form-select-bg-img: url("../images/contact/select_arrow.png");
    background-size: 20px 18px;
    border: var(--bs-border-width) solid var(--primary_color);
    text-transform: capitalize;
    color: var(--primary_color);
    font-weight: 500;
}

.contact-form .form-select option {
    color: var(--primary_color);
    font-weight: 500;
}

.contact-form .form-check-input {
    width: 24px;
    height: 24px;
    margin-top: 0;
}

.contact-form .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(../images/contact/dot.png);
}

.contact-form .form-check-input {
    border: var(--bs-border-width) solid var(--primary_color);
}

.contact-form .form-check-input:checked {
    background-color: transparent;
    border-color: #3aa9bf;
}

.contact-form .btn-blue {
    padding: 4px 24px;
    font-weight: 700;
    background-color: var(--white_color);
}

.contact-form .btn-blue:hover {
    background-color: var(--primary_color);
}

.contact-form .turtle img {
    width: 50px;
}

.contact-form .watermark-top-right img,
.contact-form .watermark-bottom-left img {
    width: 70%;
}

.contact-form .watermark-top-right {
    top: -200px;
    right: 0;
    z-index: -1;
}

.contact-form .watermark-bottom-left {
    bottom: 0;
    left: 0;
    z-index: -1;
}
/* Contact CSS End */